.day-title {
    display: flex;
    justify-content: center;
}
.day-layout {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.left-column {
    flex: 1;
    max-width: 25%;
}

.right-column {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}